<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:rel="stylesheet" type="text/css"
	th:href="@{/css/estilos.css}" />
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link th:rel="stylesheet"
	th:href="@{/webjars/font-awesome/5.11.2/css/all.css}" />
</head>
<body>
	<div class="container">
		<div th:insert="layouts/header :: header"></div>
	
		<h1>Formulario de Carga de Cliente</h1>
		<form id="formCliente" th:object="${unCliente}" th:action="${editMode}?@{/cliente/modificar}:@{/cliente/guardar}" 
			 method="post">

			<div class="form-group row">
				<label for="tipo" class="col-sm-2 col-form-label">Tipo</label> 
				<div class="col-sm-10">
				<select id="tipo" th:field="*{tipoDocumento}" class="form-control">
					<option value="nada"></option>
					<option value="DNI">DNI</option>
					<option value="Pasaporte">Pasaporte</option>
					
				</select>
				</div>
			</div>
			<!--  	<input type="text" id="tipo" th:field="*{tipoDocumento}">-->

			<div class="form-group row">
			<label for="numdoc" class="col-sm-2 col-form-label">Documento</label> 
			<div class="col-sm-10">
			<input type="number"id="numdoc" th:field="*{nroDocumento}"class="form-control">
			<div class="alert alert-danger " th:if="${#fields.hasErrors('nroDocumento')}"th:errors="*{nroDocumento}">Error numero documeto</div>
			</div>
			</div>
			 
			 <div class="form-group row">
			 <label for="apellidoynombre" class="col-sm-2 col-form-label">Apellido y Nombre</label> 
			 <div class="col-sm-10">
			 <input type="text" id="apellidoynombre" th:field="*{nombreApellido}"class="form-control">
			 <div class="alert alert-danger " th:if="${#fields.hasErrors('nombreApellido')}"th:errors="*{nombreApellido}">Error nombre</div>
			 </div>
			</div>	
			<div class="form-group row" >
			<label for="email" class="col-sm-2 col-form-label">Email</label> 
			 <div class="col-sm-10">
			<input type="email" id="email" th:field="*{email}" class="form-control"> 
			</div>
			</div>	
			<div class="form-group row">
			<label for="fechanac" class="col-sm-2 col-form-label">Nacimiento</label>
			<div class="col-sm-10">
			<input type="date" id="fechanac" th:field="*{fechaNacimiento}" class="form-control">
			</div>
			</div>	
			<div class="form-group row">
			<label for="codigo" class="col-sm-2 col-form-label">Cod Area</label> 
			<div class="col-sm-10">
			<select id="codigo" th:field="*{codigoAreaTelefono}" class="form-control">
				<option value="0"></option>
				<option value="388">388</option>
				<option value="11">11</option>
				<option value="351">351</option>
				<option value="266">266</option>
				<option value="387">387</option>
			</select>
			</div>
			
			</div>	
			<div class="form-group row">
			<label for="numtel" class="col-sm-2 col-form-label">Telefono</label> 
			<div class="col-sm-10">
			 <input type="number" id="numtel"th:field="*{numTelefono}" class="form-control">
			 </div>
			</div>
			 <div class="form-group row">
			 <label for="fechaultima" class="col-sm-2 col-form-label">Ultima Compra</label>
			 <div class="col-sm-10"> 
			 <input type="date" id="fechaultima" th:field="*{fechaUltimaCompra}" class="form-control"> 
			 </div>
			</div>
			<div class="form-group row">
			 <label for="contra" class="col-sm-2 col-form-label">Contraseña</label> 
			 <div class="col-sm-10">
			 <input type="text" id="contra" th:field="*{password}"class="form-control">
			 <div class="alert alert-danger " th:if="${#fields.hasErrors('password')}"th:errors="*{password}">Error contraseña</div>
			 </div>
			</div>	
			<div class="form-group row">
				<div class="col-sm-6">
				<!--  <button type="submit" value="Agregar"class="btn btn-primary">Agregar</button> -->
					<input type="submit" class="btn btn-success btn-block"  th:value="${editMode}?'Modificar Cliente':'Crear Cliente'">
				</div>
				<div class="col-sm-6">
		 			<a class="btn btn-secondary btn-block"  th:href="@{/retirar}">Cancelar</a>
				</div>
			</div>
			

		</form>

		<!-- ---------------------------------------------------------------- -->

		<h3>Lista de Clientes</h3>
		<br>
		<div class="table-responsive">
			<table class="table"  >
				<thead class="thead-pink">
				<tr>
					
					<th class="columna">Nro Doc</th>
					<th >Tipo </th>
					<th>ApellidoyNombre</th>
					<th>e-mail</th>
					<th>fecha nac</th>
					<th>Ultimacompra</th>
					<th>Edad</th>
					<th>Cod - Telefono</th>
					<th>Datos Adicionales</th>
					<th>Datos Adicionales</th>
					<th>Edicion</th>
				</tr>
				</thead>
				<tr th:if="${clientes.empty}">
					<td colspan="10">No hay clientes en el listado</td>
				</tr>
				<tr th:each="cli : ${clientes}">
					
					<td class="columna" th:text="${cli.nroDocumento}"></td>
					<td th:text="${cli.tipoDocumento}"></td>
					<td th:text="${cli.nombreApellido}">
					<td th:text="${cli.email}"></td>
					<!--	<td th:text="${cli.fechaNacimiento}"></td>-->
					<td
						th:text="${#temporals.format(cli.fechaNacimiento,'dd/MM/yyyy')}"></td>
					<td
						th:text="${#temporals.format(cli.fechaUltimaCompra,'dd/MM/yyyy')}"></td>
					<td th:text="${cli.getEdad()}"></td>
					<!--	<td th:text="${cli.codigoAreaTelefono}"></td>-->
					<!--	<td th:text="${cli.numTelefono}"></td>-->
					<td th:text="${cli.codigoAreaTelefono}+' - ' +${cli.numTelefono}"></td>
					<td th:text="${cli.getTiempoDesdeUltimaCompra()}"></td>
					<td th:text="${cli.getTiempoHastaCumpleanios()}"></td>
					<td>
						<a href="#" th:href="@{'/cliente/editar/'+${cli.nroDocumento}}"> <i class="fa fa-edit"></i></a>
						<a th:onclick="'javascript:confirmarEliminar(\''+${cli.nroDocumento}+'\');'"><i class="fa fa-trash-alt"></i></a>
					
					</td>

				</tr>
			</table>
		</div>
		
		<!-- Modal Eliminar -->
		<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="eliminarModal" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="eliminarModalTitulo">Confirmar Eliminar</h5>
						
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
						</div>
							<div class="modal-body">
							<h6>El Cliente sera eliminado y no se podra recuperar ¿esta seguro que quiere eliminar?</h6>
							</div>
							<input type="hidden" id="identificadorUsuarioHiddenInput" name="userIdHiddenInput"/>
					
							<div class="modal-footer">
						<button type="button" class="btn btn-secondary"	data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" th:onclick="eliminarUsuario()">Delete User</button>
						
						 
						</div>
					</div>
				</div>
			</div>
		
		<div th:insert="layouts/footer :: footer"></div>
	</div>
	<script type="text/javascript">function confirmarEliminar(id) {
			$('#modalEliminar').modal('show');
			$("#identificadorUsuarioHiddenInput").val(id);
		}

		function eliminarUsuario() {
			var id = $("#identificadorUsuarioHiddenInput").val();
			window.location = "eliminarCliente/" + id;
		}
	</script>
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"
		type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
		type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
		type="text/javascript"
		src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>